/* 
    File: service.css
    Name: Manuel Carl Jr. Toleran
    ID: 301341708
    Date: January 28, 2024
*/

/* properties for services page section */
#services{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

/* properties for services page title */
.servicesTitle{
    font-size: 3rem;
    font-weight: 600;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

/* properties for div of all services */
.serviceBars{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}

/* properties for div of each service */
.serviceBar{
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: #5f6350;
}

/* properties for image of each service */
.serviceBarImg{
    object-fit: cover;
    height: 5rem;
    width: 5rem;
    margin-right: 2rem;
}

/* properties for text of each service */
.serviceBarText>p {
    font-size: 1rem;
    font-weight: 200;
}

/* properties for text size for mobile screens */
@media screen and (max-width:720px) {
    .serviceBarText>p{
        font-size: 2vw;
    }
}

/* properties for text and image size for mobile screens */
@media screen and (max-width:480px) {
    .serviceBarText>h2 {
        font-size: 5vw;
    }
    .serviceBarText>p{
        font-size: 3vw;
    }
    .serviceBarImg{
        height: 2.25rem;
        width: 2.25rem;
    }
}