/* 
    File: project.css
    Name: Manuel Carl Jr. Toleran
    ID: 301341708
    Date: January 28, 2024
*/

/* properties for projects section */
#projects{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

/* properties for projects page title */
.projectsTitle{
    font-size: 3rem;
    font-weight: 600;
    padding: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 0.1rem;
}

/* properties for projects page div for all projects */
.projectBars{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* properties for projects page images for each project */
.projectBarImg{
    object-fit: cover;
    height: 20rem;
    width: 40rem;
    padding: 1rem;
}

/* properties for projects page text description for each project */
.projectBarText>p {
    font-size: 1rem;
    font-weight: 200;
    max-width: 50rem;
    text-align: left;
    padding: 1rem;
    margin-left: 2rem;
    
}

/* properties for mobile screens */
@media screen and (max-width:585px) {
    .projectBarImg{
        height: 50vw;
    }
}
